{% extends "base.html" %}

{% block title %}Blog - {% endblock title %}

{% block blog %}active{% endblock blog %}

{% block body %}

    <div class="container my-4">
        <h2>Coding Articles by MyCoder:</h2>
        {% for post in allPosts %}
      <div class="row my-4f no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{post.author}} - {{post.views}} views</strong>
          <h3 class="mb-0"><a href="/blog/{{post.slug}}">{{post.title}}</a></h3>
          <div class="mb-1 text-muted">{{post.timeStamp}}</div>
          <p class="card-text mb-auto">{{post.content|slice:": 250"}}...<a href="/blog/{{post.slug}}" class="mx-1 text-info">continue reading</a></p>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock body %}



