{% extends "base.html" %}

{% block title %} Search - {% endblock title  %}

{% block body %}

    <div class="container my-4">
        {% for post in searchPosts %}
            <h2>Your Search Posts:</h2>
            <div class="row my-4f no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{post.author}}</strong>
                <h3 class="mb-0">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.timeStamp}}</div>
                <p class="card-text mb-auto">{{post.content|slice:": 250"}}...<a href="/blog/{{post.slug}}" class="mx-1 text-info">continue reading</a></p>
                </div>
            </div>
      {% endfor %}
    </div>

{% endblock body %}

